@import "./animations.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 2.6% 98%;
    --foreground: 60 2.6% 10%;
    --card: 60 2.6% 100%;
    --card-foreground: 60 2.6% 10%;
    --popover: 60 2.6% 100%;
    --popover-foreground: 60 2.6% 10%;
    --brand: 40 65% 38%;
    --primary: 40 65% 38%;
    --primary-foreground: 60 2.6% 98%;
    --secondary: 70 60% 80%;
    --secondary-foreground: 70 60% 10%;
    --muted: 40 30% 90%;
    --muted-foreground: 60 2.6% 40%;
    --accent: 40 74% 59%;
    --accent-foreground: 100 60% 98%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 0 100% 98%;
    --border: 60 2.6% 85%;
    --input: 60 2.6% 85%;
    --ring: 60 2.6% 58%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 60 2.6% 7.6%;
    --foreground: 60 2.6% 98%;
    --card: 60 2.6% 12%;
    --card-foreground: 60 2.6% 98%;
    --popover: 60 2.6% 12%;
    --popover-foreground: 60 2.6% 98%;
    --brand: 40 60% 60%;
    --primary: 40 60% 60%;
    --primary-foreground: 60 2.6% 98%;
    --secondary: 70 60% 30%;
    --secondary-foreground: 70 60% 98%;
    --muted: 40 30% 20%;
    --muted-foreground: 60 2.6% 70%;
    --accent: 40 74% 59%;
    --accent-foreground: 100 60% 98%;
    --destructive: 0 100% 40%;
    --destructive-foreground: 0 100% 98%;
    --border: 60 2.6% 25%;
    --input: 60 2.6% 25%;
    --ring: 60 2.6% 60%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    --sidebar-background: 253 43% 4%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 253 91% 58%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 253 91% 58%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply box-border bg-background text-foreground;
  }
}

@layer utilities {
  .min-h-screen {
    min-height: 100vh; /* Fallback */
    min-height: 100dvh;
  }
  .h-screen {
    height: 100vh; /* Fallback */
    height: 100dvh;
  }

  .wrap-anywhere {
    overflow-wrap: anywhere;
  }
}

.dark .w-color-sketch {
  --sketch-background: #323232 !important;
}

.dark .w-color-swatch {
  --sketch-swatch-border-top: 1px solid #525252 !important;
}

.dark .w-color-block {
  --block-background-color: #323232 !important;
  --block-box-shadow: rgb(0 0 0 / 10%) 0 1px !important;
}

.dark .w-color-editable-input {
  --editable-input-label-color: #757575 !important;
  --editable-input-box-shadow: #616161 0px 0px 0px 1px inset !important;
  --editable-input-color: #bbb !important;
}

.dark .w-color-github {
  --github-border: 1px solid rgba(0, 0, 0, 0.2) !important;
  --github-background-color: #323232 !important;
  --github-box-shadow: rgb(0 0 0 / 15%) 0px 3px 12px !important;
  --github-arrow-border-color: rgba(0, 0, 0, 0.15) !important;
}

.dark .w-color-compact {
  --compact-background-color: #323232 !important;
}

.dark .w-color-material {
  --material-background-color: #323232 !important;
  --material-border-bottom-color: #707070 !important;
}

.dark .w-color-alpha {
  --alpha-pointer-background-color: #6a6a6a !important;
  --alpha-pointer-box-shadow: rgb(0 0 0 / 37%) 0px 1px 4px 0px !important;
}

[contenteditable]:empty:before,
[contenteditable]:has(> br:only-child):before {
  content: attr(placeholder);
  opacity: 0.6;
  cursor: text;
}

.appear {
  @apply animate-in fade-in-10 slide-in-from-top-10 duration-500;
}
