# Decrypt secret
SECRET_KEY="uw8iDFHFNjbIU8gPGMByTLiFfXJex7E1"

# Database Configuration
MONGODB_URI=mongodb://localhost:27017?retryWrites=true&w=majority
MONGODB_DB=timelish

PUBLIC_DOMAIN=timeli.sh

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_DB=0